packages/*/package-lock.json
sample/**/package-lock.json

# dependencies
node_modules/

# IDE
/.idea
/.awcache
/.vscode
/.devcontainer
/.classpath
/.project
/.settings
*.code-workspace

# bundle
packages/**/*.d.ts
packages/**/*.js

# misc
.DS_Store
/packages/**/.npmignore
/packages/**/LICENSE
*.tsbuildinfo
*.log

.npmrc
.env
